@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Outfit', sans-serif;
}

header {
    position: fixed;
    width: 100%;
}

h1 {
    padding: 28px 0px 20px 0px;
    text-decoration: underline;
    color: #eb4517;
    text-align: center;
}

h2 {
    text-align: center;
    margin: 24px 0px;
    color:rgb(12, 175, 175);
    font-size: 22px;
}

.h1-detail {
    text-align: left;
}

.h2-detail{
    text-align: left;
}

.detail-main {
    padding-left: 24px;
}

.detail-rating {
    font-size: 14px;
    font-weight: bold;
}

footer {
    background-color: #41B3A3;
    padding: 24px 0px;
    position: relative;
    bottom: 0;
    padding-left: 34px;
    color: rgb(252, 244, 251);
}

img {
    height: 250px;
    margin: 24px 0px 8px 0px;
    border-radius: 10%;
    box-shadow: 0 2px 4px 2px rgba(0,0,0, 0.2)
}

nav {
    background-color: #71d8b9;
    border-bottom: 1px solid #C38D9E;
    padding: 16px;
    position:
}

.nav-text-color {
    font-weight: 900;
    font-size: larger;
    text-decoration: none;
    color: rgb(252, 244, 251);
}

a:link {
    text-decoration: none;
    color: rgb(245, 235, 235);
    transition: 0.1s;
}

a:hover {
    color:rgb(247, 121, 4);
}

ol {
    margin-left: 18px;
}

main {
    background-color: #F7F9FB;
    padding-top: 60px;
    padding-bottom: 48px;
}

.main-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, 400px);
    justify-content: center;
}

.recipes-block {
    padding: 20px 0px;
    margin: auto;
}

.recipes-block a {
    color: #ee6917
}

.recipes-block a:hover {
    text-decoration-line: underline;
    text-decoration-thickness: 2px;
}

.recipes-block div {
    font-weight: bold;
    font-size: 14px;
}

.ingredients tr:nth-child(2n) {
    background-color: rgb(187, 233, 245);
}

.steps {
    margin-bottom: 48px;
}
